<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">[%p] %d [%t] %C{1}.%M | %m %ex%n</Property>
        <Property name="APP_LOG_ROOT">
            target/
        </Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appenders on need basis -->
        <RollingFile name="loggerFile"
                     fileName="${APP_LOG_ROOT}/logger.log"
                     filePattern="${APP_LOG_ROOT}/tests-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="1">
                <Delete basePath="${basePath}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="logger" additivity="false" level="info">
            <AppenderRef ref="loggerFile"/>
        </Logger>
        <!-- Root logger referring to console appender -->
        <Root level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>